@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKing.Models.Gummi
<link href="~/Styles/Gummi/DeleteStyle.css" rel="stylesheet" />

<div class="main">
    <h2>Are you sure?<br /> This cannot be undone!</h2>

    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
    <br />@Html.ActionLink("Back to List", "Index")
</div>
